<div class="sidebar">
  <show-dialog #addunitdlg>
    <div class="dlg-header">
      Add Unit
    </div>
    <div class="dlg-body">
      [Add unit]
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="dlg-footer">
      <button type="button" class="btn btn-danger" (click)="addunitdlg.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addunitdlg.hide()">Save changes</button>
    </div>
  </show-dialog>

  <p>Unit List  <a href="#" (click)="addCity()"><i class="glyphicon glyphicon-plus"></i></a></p>
  <form class="form-inline">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Unit name or phone" (input)="searchChange($event.target.value)">
    </div>
  </form>
  <tree-root [nodes]="unitroots" #treeroot>
    <ng-template #loadingTemplate>Loading....</ng-template>
    <ng-template #treeNodeTemplate let-node let-index="index">
      <span (click)="unitClicked(node.data)">{{ node.data.name }}</span>
      <a href="#" *ngIf="node.data.type != 2" (click)="addUnit(node.data)"><i class="glyphicon glyphicon-plus"></i></a>
    </ng-template>
  </tree-root>
 <!-- <div class="list-group">
      <div class="list-group-item"  *ngFor="let city of units | unittype: 0">
      <button type="button" class="btn btn-secondary" (click)="unitClicked(city)">{{city.name}}</button>
        <a href="#" (click)="addLine(city)"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="list-group-item" *ngFor="let line of units | unittype: 1 | unitparent: city " >
            <button type="button" class="btn btn-secondary" (click)="unitClicked(line)">{{line.name}}</button>
          <a href="#"  (click)="addUnit(line)"><i class="glyphicon glyphicon-plus"></i></a>

          <div class="list-group-item" *ngFor="let unit of units | unittype: 2 | unitparent: line " >
            <button type="button" class="btn btn-secondary"  (click)="unitClicked(unit)" >{{unit.name}}</button>

          </div>
          </div>


    </div>

  </div>-->
</div>
