<div class="sidebar">
  <show-dialog #addunitdlg>
    <div class="dlg-header">
      Add Unit
    </div>
    <div class="dlg-body">
      [Add unit]
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="dlg-footer">
      <button type="button" class="btn btn-danger" (click)="addunitdlg.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addunitdlg.hide()">Save changes</button>
    </div>
  </show-dialog>

  <p>Unit List  <a href="#" (click)="addCity()"><i class="glyphicon glyphicon-plus"></i></a></p>

  <div class="list-group">
      <div class="list-group-item"  *ngFor="let city of units | unittype: 0">
      <button type="button" class="btn btn-secondary" (click)="unitClicked(city)">{{city.name}}</button>
        <a href="#" (click)="addLine(city)"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="list-group-item" *ngFor="let line of units | unittype: 1 | unitparent: city " >
            <button type="button" class="btn btn-secondary" (click)="unitClicked(line)">{{line.name}}</button>
          <a href="#"  (click)="addUnit(line)"><i class="glyphicon glyphicon-plus"></i></a>

          <div class="list-group-item" *ngFor="let unit of units | unittype: 2 | unitparent: line " >
            <button type="button" class="btn btn-secondary"  (click)="unitClicked(unit)" >{{unit.name}}</button>

          </div>
          </div>


    </div>
  </div>
</div>
