<div>
  <show-dialog #modifydlg>
    <div class="dlg-header">
      Modify Unit
    </div>
    <div class="dlg-body">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" (click)="setModifyType(0)" href="#"  [ngClass]="{'active': modifyType === 0}">Basic Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setModifyType(1)" href="#"  [ngClass]="{'active': modifyType === 1}">Alert Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setModifyType(2)" href="#"  [ngClass]="{'active': modifyType === 2}">Network Settings</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div *ngIf="modifyType === 0">
            <form [formGroup]="unitBasicForm" >
                  <div class="form-group row">
                    <label for="towerfrom" class="col-sm-6 form-control-label">TowerFrom</label>
                    <input id="towerfrom" class="col-sm-6 form-control form-control-sm" formControlName="towerfrom" type="text" placeholder="from"/>
                  </div>
                  <div class="form-group row">
                    <label for="towerto" class="col-sm-6 form-control-label">TowerTo</label>
                    <input id="towerto" class="col-sm-6 form-control form-control-sm" formControlName="towerto" type="text" placeholder="to"/>
                  </div>
                <div class="form-group row">
                  <label for="idintower" class="col-sm-6 form-control-label">IdInTower</label>
                    <input id="idintower" class="col-sm-6 form-control form-control-sm" formControlName="idintower" type="text" placeholder="to"/>
                  </div>
                <div class="form-group row">
                 <label for="phonenum" class="col-sm-6 form-control-label">PhoneNum</label>
                    <input id="phonenum" class="col-sm-6 form-control form-control-sm" formControlName="phonenum" type="text" placeholder="phonenum"/>
                    </div>
               <div class="form-group row">
                <label for="imei" class="col-sm-6 form-control-label">IMEI</label>
                    <input id="imei" class="col-sm-6 form-control form-control-sm" formControlName="identity" type="text" placeholder="imei"/>
                  </div>
              <div class="form-group row">
                <label for="location" class="col-sm-6 form-control-label">Location</label>
                    <input id="location" class="col-sm-6 form-control form-control-sm" formControlName="location" type="text" placeholder="location"/>
                    </div>
            </form>
          </div>
          <div  *ngIf="modifyType === 1">
            <form [formGroup]="unitAlertForm">
              <div class="form-group row">
                <label for="distance1" class="col-sm-6 form-control-label">Distance1</label>
                <input id="distance1" class="col-sm-6 form-control form-control-sm" formControlName="alertdistance1" type="text" placeholder="distance1"/>
              </div>
              <div class="form-group row">
                <label for="distance2" class="col-sm-6 form-control-label">Distance2</label>
                <input id="distance2" class="col-sm-6 form-control form-control-sm" formControlName="alertdistance2" type="text" placeholder="distance2"/>
              </div>
              <div class="form-group row">
              <label for="distance3" class="col-sm-6 form-control-label">Distance3</label>
              <input id="distance3" class="col-sm-6 form-control form-control-sm" formControlName="alertdistance3" type="text" placeholder="distance3"/>
            </div>
              <div class="form-group row">
                <label class="c-input c-checkbox col-sm-10">
                  <input type="checkbox" formControlName="picenable">
                  <span class="c-indicator"></span> Enable picture
                </label>
              </div>

              <div class="form-group row" >
                <label for="picresolution" class="col-sm-6 form-control-label">PicResolution</label>
                <select id="picresolution" class="c-select col-sm-6 form-control form-control-sm" formControlName="picresolution">
                  <option selected>Select resolution</option>
                  <option value="640x480">640x480</option>
                  <option value="800x600">800x600</option>
                  <option value="1024x768">1024x768</option>
                </select>
              </div>
            </form>
          </div>
      </div>
    </div>
      <div class="row">
        <list-errors [errors]="errors"></list-errors>
      </div>
    </div>
    <div class="dlg-footer">
      <button type="button" class="btn btn-secondary" (click)="modifydlg.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="submitModify()">Save changes</button>
    </div>
  </show-dialog>
  <p>Unit Info</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Identity</th>
            <th>Location</th>
            <th>Remark</th>

          </thead>
          <tbody>
          <tr>
            <td>{{selectedUnit.name}}</td>
            <td>{{selectedUnit.phonenum}}</td>
            <td>{{selectedUnit.identity}}</td>
            <td>{{selectedUnit.location}}</td>
            <td>{{selectedUnit.remark}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <div class="row">
          <button type="button" class="btn btn-sm btn-secondary"
                  [disabled]="isSubmitting" (click)="getPhoto(selectedUnit)">Get Photo</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-sm btn-outline-info"
                  [disabled]="isSubmitting" (click)="modifyUnit(selectedUnit)">Modify</button>
        </div>
      </div>
    </div>
  </div>

</div>
