<div>

  <uniteditdialog  [selectedUnit]="this.selectedUnit">
  </uniteditdialog>
  <p>Unit Info</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Identity</th>
            <th>Location</th>
            <th>Remark</th>

          </thead>
          <tbody>
          <tr>
            <td>{{selectedUnit.name}}</td>
            <td>{{selectedUnit.phonenum}}</td>
            <td>{{selectedUnit.identity}}</td>
            <td>{{selectedUnit.location}}</td>
            <td>{{selectedUnit.remark}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <div class="row">
          <button type="button" class="btn btn-sm btn-secondary"
                  [disabled]="isSubmitting" (click)="getPhoto(selectedUnit)">Get Photo</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-sm btn-outline-info"
                  [disabled]="isSubmitting" (click)="modifyUnit(selectedUnit)">Modify</button>
        </div>
      </div>
    </div>
  </div>

</div>
