<div>

  <uniteditdialog  [selectedUnit]="this.selectedUnit">
  </uniteditdialog>
  <citylinedialog  [selectedUnit]="this.selectedUnit"></citylinedialog>
  <p *ngIf="selectedUnit.type === 0">City Info</p>
  <p *ngIf="selectedUnit.type === 1">Line Info</p>
  <p *ngIf="selectedUnit.type === 2">Unit Info</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table" *ngIf="selectedUnit.type===2">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Identity</th>
            <th>Location</th>
            <th>Remark</th>

          </thead>
          <tbody>
          <tr>
            <td>{{selectedUnit.name}}</td>
            <td>{{selectedUnit.phonenum}}</td>
            <td>{{selectedUnit.identity}}</td>
            <td>{{selectedUnit.location}}</td>
            <td>{{selectedUnit.remark}}</td>

          </tr>
          </tbody>
        </table>
        <table class="table" *ngIf="selectedUnit.type===1">
          <thead>
          <tr>
            <th>Name</th>
            <th>Voltage</th>
          </thead>
          <tbody>
          <tr>
            <td>{{selectedUnit.name}}</td>
            <td>{{selectedUnit.voltage}}</td>
          </tr>
          </tbody>
        </table>
        <table class="table" *ngIf="selectedUnit.type===0">
          <thead>
          <tr>
            <th>Name</th>
          </thead>
          <tbody>
          <tr>
            <td>{{selectedUnit.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 container">
        <div class="row">
          <button type="button" class="btn btn-sm btn-outline-success"
              [disabled]="isSubmitting" *ngIf="selectedUnit.type === 2" (click)="getPhoto(selectedUnit)">Get Photo</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-sm btn-outline-info"
                  [disabled]="isSubmitting" (click)="modifyUnit(selectedUnit)">Modify</button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-sm btn-danger"
                  [disabled]="isSubmitting" (click)="deleteUnit(selectedUnit)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
