<div class="home-page">
  <div class="banner" *showAuthed="false">
    <div class="container">
      <h1 class="logo-font">BC3000 Series Management System</h1>
    </div>
  </div>
</div>

<div class="container page">
  <div class="row">
    <div class="col-md-3">
      <unitbar></unitbar>
    </div>
    <div class="col-md-9">
      <div class="row">
        <unitinfo [hidden]="selectedUnit.type != 2" class="container"></unitinfo>
      </div>
      <div class="row">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': listConfig.type === 'report'}"
                 (click)="setListTo('report')">
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': listConfig.type === 'devicereport' }"
                 (click)="setListTo('devicereport')">
                DeviceReports
              </a>
            </li>

          </ul>
        </div>
      </div>
        <div class="row">
          <reportlist [type]="listConfig.type"></reportlist>

        </div>
     </div>

  </div>
</div>
