<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Your Settings</h1>
        <list-errors [errors]="errors"></list-errors>
        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Username"
                     formControlName="name"/>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" placeholder="Department"
                     formControlName="dept"/>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" placeholder="Line"
                     formControlName="line"/>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="tel"
                     placeholder="Phone Number" formControlName="phonenum"/>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password"
                     placeholder="New Password" formControlName="password"/>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password"
                     placeholder="Repeat New Password" formControlName="password2"/>
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
              Update Settings
            </button>

          </fieldset>

        </form>
      <hr />

        <button class="btn btn-online-danger" (click)="logout()">
          Click here to Logout
        </button>
      </div>
    </div>
  </div>
</div>
